name: CI

on:
  push:
    branches:
      - main
  pull_request:

env:
    CARGO_TERM_COLOR: always

jobs:
  rust-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Say hello
        run: echo hello 2
      - name: Say hello again
        run: echo hello 3
      - name: Install Rust
        uses: dtolnay/rust-toolchain@1.70.0
        id: toolchain
        with:
          toolchain: stable
          components: clippy
      - name: Cache workspace
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ steps.toolchain.outputs.cachekey }}
      - name: Check formatting
        run: |
          cargo fmt --check
      - name: Lint
        shell: bash
        run: |
          cargo clippy --locked --all-features --all-targets -- -D warnings
      - name: Test
        shell: bash
        run: |
          cargo test --locked --all-features
